fastapi
uvicorn
sqlalchemy
python-dotenv
alembic
pydantic-settings
python-jose
python-multipart
pyodbc
applicationinsights
opencensus-ext-azure
azure-identity
azure-keyvault-secrets
psutil
passlib[bcrypt]
